APP_PORT=5000
APP_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5000
FRONTEND_ACCOUNT_ACTIVATION_PAGE_URI=/api/auth/activate-account
ACCESS_TOKEN_SECRET=access_token_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=refresh_token_secret
REFRESH_TOKEN_EXPIRES_IN=1w
OVH_SMTP_ENDPOINT=ssl0.ovh.net
OVH_SMTP_USER=username
OVH_SMTP_PASS=password
